/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
/* shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  padding: 20px 25px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.2s all ease;
}
.btn-primary:hover {
  background: #cf7106;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text-gray {
  color: #727272;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  max-width: 1140px;
  margin: 0 auto;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.02rem;
  margin-right: 1.03rem;
}
/* nav style end  */

/* banner style */
.banner {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 50px;
}
.banner-title {
  margin-top: 30px;
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* banner style end */

/* main style  */
main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 50px;
}
/* team-section start */
.team-section {
  display: flex;
  align-items: center;
}
.team-img-container {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img-container img {
  width: 100%;
}
.team-content {
  flex-basis: 50%;
  padding: 0 70px;
}
.team-content h2 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.quick {
  font-weight: 500;
}
.team {
  color: #ff900e;
}
.team-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* team style end */

/* facts style start */
.fact-section {
  padding: 50px 0px;
}
.fact-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.fact-section p {
  margin-bottom: 20px;
  line-height: 26px;
}
.fact-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fact-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease-in;
}
.fact-card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* facts style end */
/* sponsor style start */
.sponsor-section{
    padding: 50px 0px;
    text-align: center;
}
.sponsor-section h2{
    margin-bottom: 20px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-section p{
    margin-bottom: 30px;
    line-height: 20px;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.sponsor-img-container img{
    width: 150px;
    height: 50px;
}
/* sponsor style end */

/* Mobile device responsive */
@media screen and (max-width: 576px) {
  .btn-primary {
    padding: 10px 15px;
  }
  nav {
    flex-direction: column;
    padding: 10px 20px;
  }
  nav ul {
    justify-content: space-around;
    margin-top: 10px;
  }
  .banner {
    padding: 0 20px;
  }
  .banner-title {
    font-size: 2rem;
    margin-top: 20px;
  }
  main {
    padding: 10px 20px;
  }
  .team-section {
    flex-direction: column-reverse;
  }
  .team-content {
    padding: 0 20px;
  }
  .team-content h2 {
    margin-top: 20px;
    font-size: 1.8rem;
  }
  .fact-title {
    font-size: 2rem;
  }
  .sponsor-img-container img{
    width: 100px;
    height: 30px;
}
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .btn-primary {
    padding: 15px 20px;
  }
  nav {
    padding: 10px 20px;
  }
  .banner-title {
    font-size: 3rem;
    margin-top: 20px;
  }
  .banner,
  .team-content {
    padding: 0 25px;
  }
  .sponsor-img-container img{
    width: 100px;
    height: 30px;
}
}
