/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
/* shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  padding: 20px 25px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.2s all ease;
}
.btn-primary:hover {
  background: #cf7106;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  max-width: 1140px;
  margin: 0 auto;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.02rem;
  margin-right: 1.03rem;
}
/* nav style end  */

/* banner style */
.banner {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 50px;
}
.banner-title {
  margin-top: 30px;
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 20px;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* banner style end */

/* main style  */
main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 50px;
}
/* team-section start */
.team-section {
  display: flex;
  align-items: center;
}
.team-img-container {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img-container img {
  width: 100%;
}
.team-content {
  flex-basis: 50%;
  padding: 0 70px;
}
.team-content h2 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.quick {
  color: #727272;
  font-weight: 500;
}
.team {
  color: #ff900e;
}
.team-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* team style end */

/* Mobile device responsive */
@media screen and (max-width: 576px) {
    .btn-primary{
        padding: 10px 15px;
    }
  nav {
    flex-direction: column;
    padding: 10px 20px;
  }
  nav ul {
    justify-content: space-around;
    margin-top: 10px;
  }
  .banner {
    padding: 0 20px;
  }
  .banner-title {
    font-size: 2rem;
    margin-top: 20px;
  }
  main {
    padding: 10px 20px;
  }
  .team-section {
    flex-direction: column-reverse;
  }
  .team-content {
    padding: 0 20px;
  }
  .team-content h2 {
    margin-top: 20px;
    font-size: 1.8rem;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .btn-primary{
        padding: 15px 20px;
    }
  nav {
    padding: 10px 20px;
  }
  .banner-title {
    font-size: 3rem;
    margin-top: 20px;
  }
  .banner, .team-content {
    padding: 0 25px;
  }
}
